fastapi
uvicorn
minio
pika
boto3
numpy
pdfplumber
textract
pdf2image
#easyocr
pdfminer.six[image]
docx2python
pypandoc
python-docx
PyMuPDF
#sudo apt-get install pandoc
#sudo apt update
#sudo apt install antiword
